.article {
  grid-template-rows: auto 1fr;
  padding-bottom: 0;
}
.textBlock {
  grid-column: 3 / span 4;
}
.space {
  grid-column: 1 / span 12;
  grid-row: 2 / span 1;
  background: #ffffff;
  height: 100%;
}
.image {
  grid-column: 8 / span 3;
  grid-row: 1 / span 2;
  width: 100%;
  min-height: 500px;
  justify-self: end;
}
.button {
  margin-top: 40px;
  width: 50%;
}
@media only screen and (max-width: 1199px) {
  .article {
    grid-template-rows: repeat(2, auto) 1fr;
  }
  .space {
    grid-row: 3 / span 1;
  }
  .image {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
  }
  .textBlock {
    grid-column: 2 / span 2;
  }
}
@media only screen and (max-width: 767px) {
  .image {
    min-height: 350px;
  }
  .button {
    width: 100%;
  }
}
