.header {
  grid-area: header;
  padding: 20px 0;
  row-gap: 0;
}
.header > nav {
  grid-column: 5 / span 6;
}
@media only screen and (max-width: 1199px) {
  .header > nav {
    grid-row: 2;
    grid-column: 1 / span 4;
  }
}