.main {
  grid-area: main;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    "herosection"
    "highlights"
    "testimonials"
    "about";
}
.testimonials {
  grid-area: testimonials;
  background-color: var(--green);
}
.about {
  grid-area: about;
  grid-template-rows: auto 1fr;
}
.chef {
  grid-column: 7 / span 3;
  grid-row: 1 / span 2;
  align-self: center;
}
.chefA {
  grid-column: 8 / span 3;
  grid-row: 1 / span 1;
  align-self: start;
}
.chefB {
  grid-column: 8 / span 3;
  grid-row: 2 / span 1;
  align-self: end;
  justify-self: end;
}
.hero {
  grid-area: herosection;
  grid-template-rows: repeat(2, auto) 1fr;
  background-color: var(--green);
  padding: 30px 0px 0px 0px;
}
.preview {
  grid-column: 8 / span 3;
  grid-row: 1 / span 3;
}
.space {
  grid-column: 1 / span 12;
  grid-row: 3 / span 1;
  background: #ffffff;
  height: 100%;
}
.reserveButton {
  grid-row: 2 / span 1;
  grid-column: 3 / span 2;
}
.highlights {
  grid-area: highlights;
}
.menuButton {
  grid-column: 9 / span 2;
}
@media only screen and (max-width: 1199px) {
  .hero {
    grid-template-rows: auto 1fr auto;
    padding: 48px 0;
  }
  .reserveButton {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
  }
  .preview{
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    min-height: 730px;
  }
  .space {
    height: 0%;
  }
  .menuButton {
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
  }
  .chef{
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    min-height: 100px;
  }
  .chefA {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    min-height: 100px;
  }
  .chefB {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    min-height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  .preview {
    min-height: 450px;
  }
}