.form {
  display: flex;
  flex-direction: column;
  grid-column: 4 / span 6;
  row-gap: 20px;
}
.input {
  padding: 20px 20px;
  background-color: var(--grey);
  border: 1px solid var(--green);
  border-radius: var(--border-rad);
}
[aria-invalid="true"] {
  outline: 1px solid RGB(255, 101, 80);
}

@media only screen and (max-width: 1199px) {
  .form {
    grid-column: 2 / span 2;
    row-gap: 20px;
  }
}
