.confirmation {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  text-align: center;
  grid-column: 5 / span 4;
  background-color: var(--grey);
  border-radius: var(--border-rad);
  padding: 20px;
  overflow: hidden;
}
.image {
  width: 250px;
}

@media only screen and (max-width: 1199px) {
  .confirmation {
    grid-column: 1 / span 4;
    margin: 0 40px;
  }
  .image {
    width: 128px;
  }
}
