.section{
    grid-template-rows: auto repeat(1,1fr);
}
.heading{
    grid-column: 3/span 4;
}
.menuButton{
    grid-column: 9/ span 2;
    justify-self: end;
    width: 100%;
}
.cardsContainer{
    grid-column: 3/ span 8;
    column-gap: 3.5%;
    height: 600px;
}
.card{
    flex: 0 0 31%;
    height: 100%;
}
@media only screen and (max-width: 1199px) {
    .heading{
        grid-column: 2/span 2;
    }
    .menuButton{
        grid-column: 2/ span 1;
    }
    .cardsContainer{
        grid-column: 2/ span 2;
        height: 550px;
    }
    .card{
        flex: 0 0 48.2%;
    }
}
@media only screen and (max-width: 767px) {
    .card{
        flex: 0 0 100%;
    }
    .menuButton{
        grid-column: 2/ span 2;
    }
}