@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-karla: "Karla", sans-serif;
  --font-markazi: "Markazi Text", serif;
  --border-rad: 16px;
  --yellow: #f4ce14;
  --green: #495e57;
  --grey: #edefee;
  --peach: #ee9972;
}
body {
  font-family: var(--font-karla);
}
#root {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: white;
}
h1 {
  font-family: var(--font-markazi);
  font-weight: 500;
  font-size: 64pt;
  color: var(--yellow);
  line-height: 0.8;
  white-space: nowrap;
}
h2 {
  grid-column: 3 / span 3;
  font-family: var(--font-markazi);
  font-weight: 400;
  font-size: 40pt;
  white-space: nowrap;
}
.lead-text {
  text-decoration: none;
  font-family: var(--font-karla);
  color: black;
  font-weight: 500;
  font-size: 18pt;
}
.paragraph-text {
  font-weight: 400;
  font-size: 16pt;
  line-height: 1.5;
}
.title-text {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 18pt;
}
.link:hover {
  color: var(--yellow);
}
.link:active {
  color: var(--peach);
}
.link.active{
  color: var(--peach)
}
.white {
  color: white;
}
.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  justify-items: stretch;
  align-items: center;
  padding: 48px 0;
  row-gap: 40px;
}
.text-block {
  grid-column: 3 / span 3;
}
ul {
  list-style: none;
}

.logo {
  grid-column: 3 / span 2;
  width: 90%;
  max-width: 320px;
}
img {
  width: 500px;
  border-radius: var(--border-rad);
  align-self: center;
  justify-self: end;
  object-fit: cover;
}
.card {
  height: 98%;
  background-color: var(--grey);
  border-radius: var(--border-rad);
  flex: 0 0 31%;
}
.overflow-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: var(--border-rad);
}
::-webkit-scrollbar-track {
  border-radius: var(--border-rad);
  background-color: var(--grey);
}
::-moz-scrollbar-thumb {
  background-color: var(--yellow);
  border-radius: var(--border-rad);
}
::-moz-scrollbar-track {
  border-radius: var(--border-rad);
  background-color: var(--grey);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--peach);
}
::-moz-scrollbar-thumb:active {
  background-color: var(--peach);
}
@media only screen and (max-width: 1199px) {
  .container {
    grid-template-columns: repeat(4, [col-start] 1fr);
  }
  h2 {
    grid-column: 2 / span 2;
    justify-self: center;
  }
  .logo {
    grid-column: 2 / span 2;
    justify-self: center;
  }
  img {
    width: 100%;
  }
  .card {
    flex: 0 0 48%;
  }
  .text-block {
    grid-column: 2 / span 2;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    white-space: normal;
  }
  h2 {
    white-space: normal;
  }
  .card {
    flex: 0 0 100%;
  }
}