* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  flex-grow: 1;
}
header {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px 0;
  align-items: center;
}
.MainNav li {
  text-align: center;
  padding: 10px 20px;
  flex-grow: 1;
}

.MainNav ul {
  display: flex;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


footer {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: top;
}