.hamburgerButton {
    grid-row: 1;
    grid-column: 1 / span 1;
    width: 35px;
    height: 25px;
    margin: auto;
    border-width: 0px;
    background-color: inherit;
    background-image: url("../../../images/hamburgerMenuIcon.svg");
    display: none;
  }
  .navList {
    display: flex;
    align-items: center;
  }
  .navList > li {
    text-align: center;
    padding: 20px 10px;
    flex-grow: 1;
  }
  @media only screen and (max-width: 1199px) {
    .hamburgerButton {
      display: block;
    }
    .navList {
      max-height: 0;
      visibility: hidden;
      opacity: 0%;
      flex-direction: column;
      align-items: center;
      transition: 0.3s ease-out;
    }
    .navList.open {
      display: flex;
      max-height: 1000px;
      margin-top: 20px;
      visibility: visible;
      opacity: 100%;
    }
    .navList.open > li {
      width: 80%;
      margin: auto;
      flex-grow: 1;
      border-top: 2px solid #333333;
    }
  }
